<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionAttributes</key>
		<dict>
			<key>QLIsDataBasedPreview</key>
			<true/>
			<key>QLSupportedContentTypes</key>
			<array>
				<string>public.zip-archive</string>
				<string>org.7-zip.7-zip-archive</string>
				<string>com.rarlab.rar-archive</string>
				<string>public.tar-archive</string>
				<string>org.gnu.gnu-zip-archive</string>
				<string>public.bzip2-archive</string>
				<string>org.tukaani.xz-archive</string>
				<string>com.facebook.zstandard-archive</string>
				<string>org.tukaani.lzma-archive</string>
				<string>public.z-archive</string>
				<string>public.lz4-archive</string>
				<string>com.winzip.zipx-archive</string>
				<string>com.microsoft.cab</string>
				<string>org.debian.deb-archive</string>
				<string>com.redhat.rpm-archive</string>
				<string>public.cpio-archive</string>
				<string>com.apple.xar-archive</string>
				<string>com.apple.installer-package-archive</string>
				<string>aleksei.trankov.newtheunarchiver.unix-ar-archive</string>
				<string>aleksei.trankov.newtheunarchiver.msi-installer</string>
				<string>public.iso-image</string>
				<string>org.archive.warc-archive</string>
				<string>com.microsoft.windows-executable</string>
			</array>
			<key>QLSupportsSearchableItems</key>
			<false/>
		</dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.quicklook.preview</string>
		<key>NSExtensionPrincipalClass</key>
		<string>$(PRODUCT_MODULE_NAME).PreviewProvider</string>
	</dict>
</dict>
</plist>
