<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionAttributes</key>
		<dict>
			<key>QLIsDataBasedPreview</key>
			<true/>
			<key>QLSupportedContentTypes</key>
			<array>
				<string>public.zip-archive</string>
				<string>org.7-zip.7-zip-archive</string>
				<string>com.rarlab.rar-archive</string>
				<string>public.tar-archive</string>
				<string>org.gnu.gnu-zip-archive</string>
				<string>public.bzip2-archive</string>
				<string>org.tukaani.xz-archive</string>
				<string>com.facebook.zstandard-archive</string>
				<string>org.tukaani.lzma-archive</string>
				<string>public.z-archive</string>
				<string>public.lz4-archive</string>
				<string>com.winzip.zipx-archive</string>
				<string>com.microsoft.cab</string>
				<string>org.debian.deb-archive</string>
				<string>com.redhat.rpm-archive</string>
				<string>public.cpio-archive</string>
				<string>com.apple.xar-archive</string>
				<string>com.apple.installer-package-archive</string>
				<string>aleksei.trankov.newtheunarchiver.unix-ar-archive</string>
				<string>aleksei.trankov.newtheunarchiver.msi-installer</string>
				<string>public.iso-image</string>
				<string>org.archive.warc-archive</string>
				<string>com.microsoft.windows-executable</string>
				<string>aleksei.trankov.newtheunarchiver.brotli-archive</string>
				<string>com.stuffit.archive.sit</string>
				<string>com.stuffit.archive.sitx</string>
				<string>com.apple.binhex-archive</string>
				<string>com.apple.macbinary-archive</string>
				<string>com.apple.applesingle-archive</string>
				<string>aleksei.trankov.newtheunarchiver.compactpro-archive</string>
				<string>aleksei.trankov.newtheunarchiver.packit-archive</string>
				<string>aleksei.trankov.newtheunarchiver.arj-archive</string>
				<string>aleksei.trankov.newtheunarchiver.zoo-archive</string>
				<string>aleksei.trankov.newtheunarchiver.lbr-archive</string>
				<string>aleksei.trankov.newtheunarchiver.arc-archive</string>
				<string>aleksei.trankov.newtheunarchiver.squeeze-archive</string>
				<string>aleksei.trankov.newtheunarchiver.alz-archive</string>
				<string>aleksei.trankov.newtheunarchiver.lzx-archive</string>
				<string>aleksei.trankov.newtheunarchiver.powerpacker-archive</string>
				<string>aleksei.trankov.newtheunarchiver.dms-archive</string>
				<string>aleksei.trankov.newtheunarchiver.squashfs-image</string>
				<string>aleksei.trankov.newtheunarchiver.appimage-bundle</string>
				<string>aleksei.trankov.newtheunarchiver.wim-image</string>
				<string>aleksei.trankov.newtheunarchiver.hfsplus-image</string>
				<string>com.apple.disk-image-udif</string>
				<string>com.sun.java-archive</string>
				<string>aleksei.trankov.newtheunarchiver.android-package</string>
				<string>com.apple.itunes.ipa</string>
				<string>aleksei.trankov.newtheunarchiver.chrome-extension</string>
				<string>aleksei.trankov.newtheunarchiver.conda-package</string>
				<string>org.idpf.epub-container</string>
				<string>org.openxmlformats.wordprocessingml.document</string>
				<string>org.openxmlformats.spreadsheetml.sheet</string>
				<string>org.openxmlformats.presentationml.presentation</string>
				<string>org.oasis-open.opendocument.text</string>
				<string>org.oasis-open.opendocument.spreadsheet</string>
				<string>org.oasis-open.opendocument.presentation</string>
			</array>
			<key>QLSupportsSearchableItems</key>
			<false/>
		</dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.quicklook.preview</string>
		<key>NSExtensionPrincipalClass</key>
		<string>$(PRODUCT_MODULE_NAME).PreviewProvider</string>
	</dict>
</dict>
</plist>
